{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Here's some info or something</h1>

    <ol>
        <li>Something</li>
        <li>Profiles</li>
        <li>Games</li>
        <li>Text</li>
        <li>Bullshit</li>
    </ol>
{% endblock %}